@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Inter:opsz,wght@14..32,100..900&family=Montserrat:wght@100..900&display=swap');
.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;


}